*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background-color:  #ffffff;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-flow:row wrap;
}
#wrapper{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#wrapper .container1{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid rgb(223, 223, 223);   
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(209, 209, 209);
    margin: 15px;
}
#wrapper .container1:hover{
    box-shadow: 20px 20px 30px rgb(160, 160, 160);
}
#wrapper .container1 img{
    width: 100%;
    border-radius:20px; 
}
